input:focus, textarea:focus {
  outline: none;
  border: none;
}

.custom-select {
  position: relative;
  display: inline-block;

}

.submit-btn:hover {
  box-shadow: 0px 0px 60px #3b82f6;
  /* -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4)); */
}